<html>
<head>
  <title>Comedians</title>
  <link rel="stylesheet" href="/main.css" type="text/css" />

</head>
<body>
  <nav>
    <ul>
      <li>Average Age: </li>
      <li><%= @comedians.average_age %></li>
      <li>Average Specials Length: </li>
      <li><%= @comedians.specials_average_length %></li>
    </ul>
  </nav>
  <h1>Comedian Info</h1>
<% @comedians.each do |comedian| %>
  <ul>
    <li><%= comedian.name %></li>
    <li><%= comedian.age %></li>
    <li><%= comedian.city %></li>
<% comedian.specials.each do |special| %>
  <li> Specials:
    <ul>
      <li> <%= special.name %> </li>
      <li> <%= special.length %> </li>
      <li> <img class="image" src=" <%= special.image %>"> </li>
    </ul>
  </li>
  <% end %>
  </ul>
<% end %>
</body>
</html>
